body {
  font-family: var(--font-family-main);
  color: var(--color-text-main);
  background-color: var(--color-bgd-main);
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

// .conteiner {
//   width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 0 15px;
// }

.conteiner {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}
