.features {
  display: flex;
}

.features__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icons-box {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--color-bgd-team);
}
